body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

* {
  scroll-behavior: smooth !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  background-color: #000000c3;
  height: 50.3vh;

}

.sec {
  position: absolute;
  top: 50.3vh;
  background-color: #000000c3;
  height: 50.3vh;
  width: 100%;
}

.header {
  display: flex;
  font-size: medium;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #000;
  background-color: #000;
  z-index: 1;
  padding: 6px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #000;

}

.header h1 {
  font-weight: 300;
  background-color: transparent;
  font-size: 15px !important;
  color: #f5f5f5;
}

.row-item {
  display: flex;
  color: #f5f5f5;
  background-color: #4c4c4c !important;
  font-size: medium;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
  background-color: inherit;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #1b1818;

}

.row-item:hover {
  background-color: #5e5e5e !important;

  font-weight: 400;
}

.row-item:last-child {
  border-bottom: none !important;
}

::-webkit-scrollbar {
  background-color: #4c4c4c
}

::-webkit-scrollbar-thumb {
  background-color: #00000096;
  border-radius: 10px;
}

.row-item p {
  background-color: inherit;
  position: relative;
  float: left;
  height: 100%;
  font-size: 14px;
  margin-right: 1%;
  font-weight: 400;
  text-align: center;

}

.row-item p:nth-child(1) {
  width: 5vw;
  margin-inline: 3%;
}

.row-item p:nth-child(2) {
  width: 20vw;

}

.row-item p:nth-child(3) {
  width: 12vw
}

.row-item p:nth-child(4) {
  width: 5vw;
}

.row-item p:nth-child(5) {
  width: 14vw;
}

.row-item p:nth-child(6) {
  width: 8vw;
  position: relative;
  left: 1vw;

}

.row-item p:nth-child(7) {
  width: 8vw;
}

.col-item {
  position: relative;


  background-color: #000000c3;

  overflow: hidden;
  display: flex;
  height: 44vh;

  font-size: medium;
  display: flex;
  flex-direction: column;

  padding: 27px;
}

.col-item p {
  display: flex;
  justify-self: start;
  text-align: start;
}

.dashboard {
  width: 50%;
  border: 1px solid #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  margin-left: auto;

  top: 2vh;
  height: 50vh;
  overflow: hidden;
  margin-right: 1.5%;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px #1f1a1a81;
}

.dashboard-area {
  background-color: #000000c3;
  height: 51%;
  width: 100%;
  position: relative;

}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100px;
  margin: 20px;
}

.topLeftArea {
  position: absolute;
  left: 2vh;
  top: 2vh;
  overflow: hidden;
  width: 45vw;
  height: 50.5vh;
  background-color: #000000cc;
}

.filter-icon,
.pie-chart-icon {
  font-size: 24px;
  cursor: pointer;
  color: #f5f5f5 !important;
  transition: color 0.2s;


}

.filter-icon:hover,
.pie-chart-icon:hover {
  color: #ccc;
  /* Change color on hover */
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  position: relative;
  top: -5vh;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #4c4c4c;
  font-family: Arial, sans-serif;
}

.filterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  margin-right: auto;
  width: 100%;
}

h1 {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 100;
  color: #f5f5f5
}

select,
input[type="text"] {
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  color: #f5f5f5;
}

select {
  min-width: 200px;
  margin-left: auto;
  background-color: #4c4c4c;
}

.filterRow input[type="text"] {
  min-width: 250px;
  margin-left: auto;
  color: #f5f5f5 !important;
  border: 1px solid grey;
  border-radius: 4px;
}

.filterRow input[type="text"]::placeholder {

  color: #f5f5f5 !important;

}

.dashboard h1 {
  position: relative;
  float: left;
  height: 100%;
  font-size: smaller;
  margin-right: 1%;
  text-align: center;

}

.row-items {
  background-color: inherit;
  overflow: auto;
  height: 80%;
}

.dashboard h1:nth-child(1) {
  width: 5vw;
  margin-inline: 3%;
}

.dashboard h1:nth-child(2) {
  width: 20vw;
  position: relative;
  left: 3%;


}

.dashboard h1:nth-child(3) {
  width: 18vw
}

.dashboard h1:nth-child(4) {
  width: 8vw;
  position: relative;
  left: -3%;
}



.dashboard h1:nth-child(5) {
  width: 12vw;
  position: relative;
  left: -3%;
}

.dashboard h1:nth-child(6) {
  width: 7.1vw;
  position: relative;
  left: -0.2%;
}

.dashboard h1:nth-child(7) {
  width: 12vw;
  position: relative;
  left: -1%;
}

.row-result {
  display: flex;
  align-items: center;
  width: 20%;
  height: 5vh;
  top: 6vh;
  position: relative;
  margin-bottom: 5vh;


}

.result-img h1 {
  background-color: transparent;
}

.row-result h1 {
  background-color: inherit;
  font-size: x-large;
  font-weight: 300;

  margin-right: 3%;
}

.result {
  height: 35%;
  word-wrap: break-word;

  width: 45vw;
  position: absolute;
  left: 18%;
  top: 15%;
  transform: scale(0.8);




}

.row-result p {
  font-size: large;
  font-weight: 400;
  position: relative;
  top: 0.3vh;
  color: #f5f5f5;


}

.result h1 {
  font-size: xx-large;
  font-weight: 200;
  margin-right: 1%;
  position: relative;
  top: -2vh;
}

.ptag {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 35px;
  color: #f5f5f5;
  background-color: transparent;
  width: 25vw;
  position: absolute;
  top:5vh;
  text-overflow: balance;
}

.text-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.animated-text {
  font-size: 3rem;
  opacity: 1;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.landing {

  position: relative;
  height: 100%;
  background-color: #000000fa;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
}

.landingInput {

  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #f6f6f6f6;
  width: 30%;
  margin-bottom: auto;


  outline: none;
  background-color: transparent;
  font-size: 50px !important;
  font-weight: 100 !important;

  border: none;
  border-bottom: 1px solid;

}



.typewriter {
  color: #f5f5f5;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 5%;
  margin-top: 5%;
}

.full {

  position: relative;

  height: 50vh;
  width: 100%;
  display: flex;
  background-color: #000000c3;
}

/* Styles for the popup overlay that covers the entire screen */
.popup-overlay {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent black overlay */
  z-index: 999;
  /* Make sure the popup is on top of other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the popup itself */
.popup {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

/* Styles for the close button 'x' */
.close {
  position: absolute;
  top: -35px;
  right: -35px;
  font-size: xx-large;
  color: white;
  cursor: pointer;
  background-color: transparent;

}

/* Styles for the image inside the popup */
.popup img {

  height: 95vh;
  object-fit: contain;
  position: relative;
  top: -10px;

  /* Maintain aspect ratio while fitting the image */
}

.contentTopLeft {

  height: 90%;
  display: flex;
  place-items: center;
  justify-content: center;
  transition: 0.7s;
  position: absolute;
  width: 100%;

  left: 0;
}

.pieTypes {
  position: absolute;
  bottom: 5vh;
  left: 4vh;
  display: flex;
  flex-direction: column;
}

label {
  color: #f5f5f5;
  transition: 0.7s;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

label:hover {
  color: #dedede;
  border-bottom: 1px solid #f5f5f5;
}

.contentTopLeft .icon-container {

  height: 0%;
  display: flex;
  place-items: center;
  justify-content: center;
  transition: 0.7s;
  position: relative;
  width: 100%;
  opacity: 1;
  left: 0;
}

.moveLeft {
  left: -100vw !important;
  height: 70% !important;
  width: 90% !important;
  opacity: 0.5 !important;
}

.not-there {
  pointer-events: none;

}

#videoButton {

  bottom: 20px;
  left: 20px;
  /* Position the button from the left edge of the screen */
  background-color: #4c4c4c;
  border: none;
  color: #f5f5f5;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#videoButton:hover {
  background-color: #5e5e5e;
}

#videoButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

#testButton {
  position: absolute;
  bottom: 40vh;
  right: 62vh;
  padding: 15px;
  border: solid black;
  transition: 0.7s;

  border-width: 0 5px 5px 0;
  cursor: pointer;
  display: inline-block;
  transform: rotate(-45deg);
  border-radius: 5px;


}

#testButton:hover {
  border: solid #f5f5f5;
  border-width: 0 3px 3px 0;
}

.spin {
  animation: spin infinite 2s forwards;
  border: solid #f5f5f5 !important;
  border-width: 0 3px 3px 0 !important;
}

@keyframes spin {
  from {
    bottom: 40vh !important;
    right: 62vh !important;
    transform: rotate(-45deg) !important;

  }

  to {
    bottom: 40vh !important;
    right: 62vh !important;
    transform: rotate(360deg) !important;

  }
}

.media-box {
  position: absolute;
  right: 3vh;
  bottom: 3vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  top:40px;
  height: 40%;
  width: 30%;
}

.media-switch {
  height: 20%;
  width: 100%;
  display: flex;
  border-radius: 40px;
  align-items: center;
  background-color: #000;
}

.selected {
  background-color: #ffffffc3;
  height: 10%;
  z-index: 0;
  position: absolute;
  width: 30%;
  border-radius: 40px;
  left: 10%;
  transition: 0.5s;
}

.sel-vid {
  left: 60% !important;
}

.sel-icon {
  color: #000 !important;
}



.media-switch-icon {
  z-index: 5;
  width: 50%;
  height: 100%;
  float: left;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: 0.7s;
}

.media-switch-icon:hover {
  color: burlywood;
}

.media-content {

  display: flex;
  transition: 0.7s;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  height: 80%;
  width: 100%;
}

.media-content img {
  transform: scale(0.8);
  cursor: pointer;
}